* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6fafd;
    font-family: "Segoe UI", Geneva, Arial, Helvetica, sans-serif;
}

.message {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

main {
    font-size: 22px;

    p {
        color: #3a506b;
    }

    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15dvh;
    width: 100%;
    background-color: #3a506b;

    button {
        background: none;
        border: none;
        color: white;
        font-size: 3dvh;
        font-weight: bold;
        position: relative;
    }

    img {
        transform: scale(0.35);
    }
}

.buttons1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 15dvh;
    width: 100%;

    button {
        height: 8dvh;
        width: 25%;
    }

}

.buttons2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 1dvh;
    width: 100%;

    button {
        height: 8dvh;
        width: 25%;
    }
}

.btn-not-selected {
    background-color: #5c9ead;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 3dvh;
    transition: 0.5s;
}

.btn-not-selected:hover,
.btn-selected:hover {
    transform: scale(1.1);
    background-color: #ff6b6b;
    box-shadow: 0 0 10px 5px rgba(225, 107, 107, 0.7);
    color: white;
    border: none;
    z-index: 1;
    font-weight: bold;
    font-size: 3dvh;
}

.btn-start:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(157, 223, 105, 0.7);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 3dvh;
}

.btn-selected {
    transition: 0.5s;
    background-color: #ff6b6b;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 3dvh;
}

.btn-start {
    transition: 0.5s;
    background-color: #9ddf69;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 3dvh;
}

.timer-countdown {
    background-color: #e8f1fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40dvh;
    box-shadow: 0 0 50px 0px #a8c3e2;


    span {
        font-size: 25dvh;
        font-weight: bold;
    }
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center; /* não funciona aaaaaaaa*/

    .text {
    margin: 0 auto;
    text-align: center;
        h1 {
            color: #3a506b;
        }

        p {
            color: #4a5a6a;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        gap: 30px;
        padding-top: 10dvh;

        p {
            font-size: 20px;
        }
    }
}

footer {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5, a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: normal;
        color: #4a5a6a;
        text-decoration: none;
    }
    a{
        font-size: 13px;
    }

    a:hover{
        text-decoration: underline;
    }
}

#settingsDiv {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
}


.settings {
    height: 0dvh;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 50px 0px #bbbbbb;
    justify-content: center;
    align-items: center;
    gap: 20px;

    input {
        width: 10%;
        height: 6dvh;
        border: 3px solid #ffe0e0;
        border-radius: 10px;
        padding: 1vh;
        color: #4a5a6a;
    }

    p {
        color: #4a5a6a;
        font-size: 30px;
    }
}

span {
    color: #4a5a6a;
}

.displaysettings {
    display: none;
}

.settingsbutton {
    min-height: 1px;
    display: flex;
    justify-content: flex-end;
}

.settings-btn {
    justify-content: center;
    align-items: center;
    background-color: #3a506b;
    border: none;
    color: white;
    height: 7dvh;
    width: 13%;
    display: flex;
    font-size: 3dvh;
    font-weight: bold;
}



/* me when responsividade */

@media (max-width: 768px) {
    header {
        height: 15dvh;
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
            transform: scale(0.3);
        }
    }

    .about{
        .text{
            padding-top: 5dvh;
        }
        
    }

    .settingsbutton {
        justify-content: center;

        .settings-btn {
            width: 60%;
        }
    }

    main {

        .buttons1,
        .buttons2 {
            button {
                width: 50%;
            }
        }

        .timer-countdown {

            display: flex;
            justify-content: center;
            align-items: center;
            height: 30dvh;

            span {
                font-size: 17dvh;
                font-weight: bold;
            }
        }
    }
}